<html>
<head>
    <meta charset="utf-8" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css">
  <!-- Table Of Contents -->
  <link rel="stylesheet" type="text/css" href="{{ plugins_url }}/TableOfContents/style.css" />

</head>
<div id="header">
  <a href="{{ "index"|link }}">{{ site_title }}</a>
</div>
<body>
<div class="layout">
	<div id="navbar">

		<ul class="nav">
      {% for page in pages if page.title and not page.hidden %}
        {% set page_depth = page.id|split('/')|length %}
        {% if ((page_depth == 2) and (page.id ends with "/index") or (page_depth == 1 and (current_page.id != page.id or current_page.id != "index"))) %}
          <li{% if page.id == current_page.id %} class="active"{% endif %}>
            {% set current_id_a = current_page.id|split('/')[0] %}
            {% set page_id_a = page.id|split('/')[0] %}
            <a href="{{ page.url }}">{{ page.title }} {% if (page.id == current_page.id) or (page_id_a == current_id_a) %} &laquo; {% endif %}</a>
          </li>
        {% endif %}
      {% endfor %}
		</ul>
	</div>
	<div id="content">
    {% if current_page.id ends with "index" %}
    {% set current_tag = current_page.id|split('/')[0] %}
		<div class="inner">
			{{ content }}
      <ul>
        {% for page in pages|sort_by("time")|reverse if page.title and not page.hidden %}
          {% set page_depth = page.id|split('/')|length %}
          {% set page_tag = page.id|split('/')[0] %}
          {#
              * display all pages in subfolders (depth: 2), that are not index pages for their subfolder (do not end with "index)
              * display pages of all tags on the start page (current_page.id: "index")
              * else display only the tag of the current index
              * do not display pages from the archive (page_tag: "archive") on the start page
              * do not display pages from the Tag == hide (intention: not to show the list of those pages)
          #}
          {% if page_depth == 2 and (current_page.id == "index" or page_tag == current_tag) and not (page.id ends with "index") and not (page_tag == "archive" and current_page.id == "index") and not (current_page.title == "Home") and not (page.meta.Tag == "hide") %}
            <li>
              <a href="{{ page.url }}">/{{ page.date_formatted }}/{% if current_page.id == "index" %}{{ page_tag }}/{% endif %}{{ page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
		</div>
    {% else %}
      <div class="inner">
      <header>
        {% set page_depth = current_page.id|split('/')|length %}
        <h1>{{ meta.title }}</h1>
      </header>
      {{ content }}
    </div>
    {% endif %}
	</div>
	<div id="footer">Hosted by: <a href="https://www.greengeeks.com/">GreenGeeks</a>. <br />
    FLOSS System: <a href="http://picocms.org/">PicoCMS</a>.<br />
    Theme: <a href="https://gitlab.com/siusoon/soonish/">soonish</a>, modified from <a href="https://github.com/sonst-was/simpleTwo">sonst-was</a>.<br />
    Libre Font: <a href="https://www.velvetyne.fr/fonts/fengardo-neue/">Fengardo Neue</a> & <a href="https://www.velvetyne.fr/fonts/minipax/">MiniPax</a>.
</div>
</div>
</body>
</html>
