/*=================================*/
/* Pico Default Theme
/* By: Gilbert Pellegrom
/* http: //dev7studios.com
/* Modified by: Winnie Soon
/*=================================*/

@font-face {
	font-family: 'fengardoneue-regular';
	src: url('../css/fengardoneue_regular-webfont.ttf');
}

@font-face {
	font-family: 'Minipax-regular';
	src: url('../css/Minipax-Regular.woff');
}

html {
	min-height:100%;
}

body {
	font-size: 1.2em;
	background: linear-gradient(0deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%) fixed;
  color:#003F3F;
	margin: 40px auto;

}
a, a:link, a:visited {
	text-decoration: underline dotted;
	color: rgba(0,63,63,.8);
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .8em;
	font-weight: lighter;
}

p, table {
  margin-bottom: 1em;
}

ol, ul {
  padding-left: 25px;
  margin-bottom: 0em;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

abbr, acronym {
  cursor: help;
  border-bottom: 0.1em dotted;
}

td, td img {
  vertical-align: top;
}

td, th {
  padding: 0.25em 0.5em;
}

th {
  font-weight: bold;
  text-align: left;
  background: rgba(34,193,195,0.4);
	border-bottom: 0.1em solid rgba(253,187,45,0.4);
}

table {
	border-radius: 0.3em;
	border: 0.1em solid rgba(253,187,45,0.4);
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

code {
  font-family: Courier, "Courier New", Monaco, Tahoma;
  background: #eee;
  color: #333;
  padding: 0px 2px;
}

pre {
  background: #eee;
  padding: 20px;
  margin-bottom: 1em;
  overflow: auto;
}

blockquote {
  font-style: italic;
  margin: 0 0 1em 15px;
  padding-left: 10px;
  border-left: 4px solid #ffff00;
}

hr {
	color:rgba(34,193,195,.6);
}

#header {
	font-family: "Minipax-regular";
	font-size: 1.1em;
	padding: 2% 2% 2% 70%;
}
#header a {
	text-decoration:none;
	background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
	background-size: 800% 800%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: colorRotate 9s ease infinite;
}

@keyframes colorRotate {
	0%{background-position:0% 50%}
	50%{background-position:100% 25%}
	100%{background-position:0% 50%}
}

#content {
	font-family: "fengardoneue-regular";
	padding: 2% 2% 2% 24%;
	height:auto;
	min-height:300px;
	float: left;
	width: 70%;
}
.inner {
  width: 85%;
}

.inner img {
	margin:auto;
  width:100%;
}

#navbar {
	font-family: "fengardoneue-regular";
	float: left;
	width: 20%;
	line-height:2em;
	border-right: .1em solid rgba(253,187,45,0.6);
	height:auto;
	min-height:300px;
	text-align:right;
	padding-right: 15px;
	padding-top: 30px;
	position: fixed;
}

#navbar ul {
	list-style-type:none;
}
#navbar a {
	text-decoration:none;
	color:#003F3F;
}

.inner ul li {
	margin-left: 0;
	list-style-type: square;
}

#footer {
	font-family: "fengardoneue-regular";
	font-size: .7em;
	padding-left: 3%;
	clear: both;
	color:rgba(0,63,63,0.6);
}

#footer a {
	color:rgba(0,63,63,0.6);
}

/* small screens */
@media screen and (max-width: 44em) {
	body {
    margin:1.5em 0;
  }
	#header {
		padding: 1% 2% 2% 5%;
	}

	#navbar {
		display: block;
		width:100%;
		text-align:center;
		padding-top: 0px;
		position: relative;
		min-height:0px;
		padding-bottom:5px;
		border-right:none;
		border-bottom: .1em solid rgba(253,187,45,0.6);
    ul {
      padding:0 .5em;
    }
    ul > li {
      width:100%;
      padding:.45em .25em;
      margin:0 0 .55em 0;
    }
  }

	#content {
		display: block;
		width:100%;
		float:clear;
		height:auto;
		padding: 1% 2% 2% 5%;
	}

	.inner {
		width: 100%;
		padding-top: 10px;
	}

	#footer {
		display: block;
		width:100%;
	}
}
